<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card >
      <div class="row">
        <div class="offset-5">
          <button type="button" (click)="toApply('')" class="btn btn-warning">提交</button>
          <button type="button" (click)="loadData()" class="btn btn-warning">查询</button>
        </div>
      </div>
      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        [selected]="selected"
        [selectionType]="'checkbox'"
        (page)='setPage($event)'
        (select)='onSelect($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="id" [width]="30" prop="id">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="员工编号"
          [width]="200"
          prop="employee.code">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="姓名"
          [width]="200"
          prop="employee.user.realName">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="手机号码"
          [width]="200"
          prop="employee.user.mobile">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="部门"
          [width]="200"
          prop="employee.department">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="岗位"
          [width]="200"
          prop="employee.position">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="薪资岗位"
          [width]="200"
          prop="employee.accountPosition.name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="派遣公司"
          [width]="300"
          prop="corp.name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="入职时间"
          [width]="200"
          prop="employee.startDate">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="合同截止"
          [width]="200"
          prop="employee.endDate">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="离职时间"
          [width]="200"
          prop="leavedDate">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="工资核算起时间"
          [width]="200"
          prop="calcStart">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="工资止时间"
          [width]="200"
          prop="calcEnd">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="工资"
          [width]="200"
          prop="amount">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="计算状态"
          [width]="200"
          prop="statusCalcStr">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="审核状态"
          [width]="200"
          prop="checkUser.approvedStr">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="单据状态"
          [width]="200"
          prop="statusStr">
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [width]="300" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toEdit(value)" class="btn btn-warning">编辑</button>
            <button (click)="toView(value)" class="btn btn-warning">查看</button>
            <button (click)="toDelete(value)" class="btn btn-warning">删除</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>


