<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12" *ngIf="employee">
      <ba-card  >

        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <label >员工编号</label>
              {{employee.code}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label >手机号码</label>
              {{employee.user.mobile}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label >名称</label>
              {{employee.user.realName}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label >部门</label>
              {{employee.department}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label >岗位</label>
              {{employee.position}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-2 col-3 control-label">薪资岗位</label>
              <div class="input-group col-sm-10  col-9">
                {{employee.accountPosition.name}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label >所属上级</label>
              {{employee.accountPosition.headerUpCorpName}}
            </div>
          </div>
        </div>
        <div>

          <div class="col-sm-6">
            <div class="form-group">
              <label  class="control-label">合同开始日期</label>
              {{employee.startDate}}
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label  class=" control-label">到期日期</label>
              <div class="input-group">
                {{employee.endDate}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label >状态</label>
              {{employee.status}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-5">
            <button type="button" (click)="toBack()"  class="btn btn-warning" >返回</button>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card  >
          <div class="row"  *ngIf="corpEmployeeLeave">
            <div class="col-sm-6">
              <div class="form-group">
                <label>单据类型</label>
                {{corpEmployeeLeave.invoiceTypeStr}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>单据编号</label>
                {{corpEmployeeLeave.invoiceCode}}
              </div>
            </div>
          </div>

          <form [formGroup]="editForm" (ngSubmit)="toAdd(editForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label  class=" control-label">离职日期</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dpStartDate" [ngModelOptions]="{standalone: true}" [(ngModel)]="leavedDate" ngbDatepicker #d1="ngbDatepicker">
                  <div class="input-group-addon" (click)="d1.toggle()" >
                    <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class=" control-label">核算工资开始日期</label>
                  <div class="input-group ">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dpStartDate" [ngModelOptions]="{standalone: true}" [(ngModel)]="calcStart" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-addon" (click)="d2.toggle()" >
                      <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label  class=" control-label">核算工资结束日期</label>
                  <div class="input-group ">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dpStartDate" [ngModelOptions]="{standalone: true}" [(ngModel)]="calcEnd" ngbDatepicker #d3="ngbDatepicker">
                    <div class="input-group-addon" (click)="d3.toggle()" >
                      <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idComment">离职原因</label>
                <input  type="text"  class="form-control" [formControl]="leavedReason" id="idComment" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-5">
              <button type="button" [disabled]="!editForm.valid" (click)="toAdd(editForm.value)"  class="btn btn-warning" >保存</button>
              <button type="button" (click)="toBack()"  class="btn btn-warning" >返回</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
  </div>
