<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card >
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">

          <div class="row" *ngIf="checkType">
            <div class="col-sm-6">
              <div class="form-group" >
                <label></label>
                <div class="input-group">
                  单据名称<b class="offset-1">{{checkType.entityName}}</b>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  单据前缀 <b class="offset-1">{{checkType.typeStr}}</b>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row" >
                <label class="col-2">单据名称</label>
                <div class="input-group col-10">
                  <input type="tel" [formControl]="name" class="form-control" id="idName" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-2">单据前缀</label>
                <div class="input-group col-10">
                 <input type="text" [formControl]="codePre" class="form-control" id="idCodePre"
                         placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <p>{{msg}}</p>
          </div>
          <div class="row">
            <div class="offset-5">
              <button type="button" [disabled]="!searchForm.valid" (click)="onSubmit(searchForm.value)" class="btn btn-warning">保存</button>
              <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
</div>
