<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12" *ngIf="corp">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>企业名</label>
            {{corp.name}}
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="idCode">机构代码</label>
              {{corp.code}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-12">
      <ngb-tabset>
        <ngb-tab title="商户资料">
          <ng-template ngbTabContent>
            <div class="col-lg-12 col-sm-12 col-12" *ngIf="corp">
              <ba-card >
                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>分类</label>

                      {{corp.corpType.name}}

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>企业名</label>
                      {{corp.name}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="idTag">机构代码</label>
                      {{corp.code}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>注册日期</label>
                      {{corp.registedDate}}
                    </div>
                  </div>
                  <div class="col-sm-6 ">
                    <div class="form-group">
                      <label for="idImageUrl">图片</label>
                      {{corp.imageUrl}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>公司电话</label>
                      {{corp.tel}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>公司邮箱</label>
                      {{corp.email}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>城市</label>
                      {{corp.address.city}}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>地址</label>
                      {{corp.address.street}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="form-group">
                      <label for="idImageUrl">描述</label>
                      {{corp.description}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-5">
                    <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-12">
                    <p class="e2e-inner-html-bound" [innerHTML]="corp.content"></p>
                  </div>
                </div>

              </ba-card>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
    </div>
  </div>
</div>
