<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
    <ba-card >
      <div class="row">
        <div class="offset-5">
          <button type="button" (click)="toAdd()" class="btn btn-warning">增加</button>
          <button type="button" (click)="toApply('')" class="btn btn-warning">提交</button>
          <button type="button" (click)="loadData()" class="btn btn-warning">查询</button>

        </div>
      </div>

    </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        [selected]="selected"
        [selectionType]="'checkbox'"
        (page)='setPage($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="id" [width]="30" prop="id">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="名称"
          [width]="300"
          prop="name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="分类"
          [width]="200"
          prop="busiType.name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="城市"
          [width]="200"
          prop="city">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="公司"
          [width]="200"
          prop="corp.name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="标签"
          [width]="200"
          prop="tag">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="状态"
          [width]="100"
          prop="status">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="置顶"
          [width]="100"
          prop="statusHot">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="日期"
          [width]="200"
          prop="publishDate">
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [width]="300" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toEdit(value)" class="btn btn-warning">编辑</button>
            <button (click)="toDelete(value)" class="btn btn-warning">删除</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>


</div>


