<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card  >
        <form [formGroup]="accountconstEditForm" (ngSubmit)="toAdd(accountconstEditForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCode">编号</label>
                <input type="text"  class="form-control" [formControl]="code" id="inputCode">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idName">名称</label>
                <input type="text"  class="form-control" [formControl]="name" id="idName" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>计算方式</label>
                <select  [ngModelOptions]="{standalone: true}" [(ngModel)]="calcType" class="form-control" (change)="calcTypeChange()" >
                  <option value="">请选择</option>
                  <option *ngFor="let item of calcTypeList" [value]="item.code">{{item.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>参考值</label>
                <input type="text"  class="form-control" [formControl]="value" id="idValue" >
              </div>
            </div>
          </div>
        </form>
          <div class="row" *ngIf="calcType == 'enum' || calcType == 'enumSubtract' ">
            <div class="col-lg-12 col-sm-12 col-12">

                <div class="row" >
                  <div class="col-sm-6">
                    <label for="idItemValue">取值</label>
                    <input type="text"  class="form-control" [(ngModel)]="itemValue" id="idItemValue" >
                  </div>
                  <div class="col-sm-3">
                    <label for="idRefStart">起始</label>
                    <input type="text"  class="form-control" [(ngModel)]="refStart" id="idRefStart" >
                  </div>
                  <div class="col-sm-3">
                    <label for="idRefEnd">截止</label>
                    <input type="text"  class="form-control" [(ngModel)]="refEnd" id="idRefEnd" >
                  </div>
                  <div class="col-sm-6">
                    <button type="button"  (click)="toAddItem()" class="btn btn-warning">增加</button>
                  </div>
                </div>

                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>取值</th>
                    <th>起始</th>
                    <th>截止</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of accountConstItemList">
                    <td>{{item.id}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.refStart}}</td>
                    <td>
                      {{item.refEnd}}
                    </td>
                    <td>
                      <button type="button" (click)="toDeleteItem(item.id)" class="btn btn-warning">删除</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
             </div>
            </div>

          <div class="row">
            <div class="offset-sm-6 col-sm-6">
              <button type="button" (click)="toAdd(accountconstEditForm.value)"  class="btn btn-warning" >保存</button>
              <button type="button" (click)="toBack()"  class="btn btn-warning" >返回</button>
            </div>
          </div>

      </ba-card>
    </div>
  </div>
  </div>
