<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card >
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                <label>名称</label>
                <div class="input-group">
                  <input type="text" [formControl]="name" class="form-control" id="idName"
                         placeholder="Name">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (!code.valid && code.touched), 'has-success': (code.valid && code.touched)}">
                <label>编号</label>
                <div class="input-group">
                  <input type="text" [formControl]="code" class="form-control" id="idNameCn" placeholder="编号">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group " >
                <label>编号</label>
                <div class="input-group">
                  <textarea  [formControl]="description" class="form-control"  >

                  </textarea>
                </div>
              </div>
            </div>
           </div>
          <div class="row">
            <p>{{msg}}</p>
          </div>
          <div class="row">
            <div class="offset-sm-5">
              <button type="button" [disabled]="!searchForm.valid" (click)="onSubmit(searchForm.value)" class="btn btn-warning">保存</button>
              <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
</div>
