<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card>
        <!--<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idParentId" class="control-label">网点</label>
                <div class="input-group">
                  <select [formControl]="branchId" class="form-control" id="idParentId">
                    <option value="">请选择</option>
                    <option *ngFor="let item of branchList" [value]="item.id">{{item.name}}</option>
                  </select>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <button type="button" id="searchFrom" (click)="onSubmit(searchForm.value)" class="btn btn-warning">查询</button>
                </div>
              </div>
            </div>
          </div>
        </form>-->
        <ba-card  *ngIf="branch">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group">
                网点名称:<b class="offset-1"> {{branch.name}}</b>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="input-group ">
                地址:<b class="offset-1">{{branch.address}}</b>
              </div>
            </div>
          </div>
        </div>
        </ba-card>

        <div class="row">
          <div class="offset-5">
            <button type="button" (click)="toAddManager()" class="btn btn-warning">增加分账管理员</button>
            <button type="button" (click)="toAddComm()" class="btn btn-warning">增加分账合作方</button>

          </div>
        </div>


      </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        (page)='setPage($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          name="分账记录id" [width]="30" prop="id">
        </ngx-datatable-column>
        <!--<ngx-datatable-column
          name="网点id"
          [width]="50"
          prop="branchId">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="网点名称"
          [width]="100"
          prop="branchName">
        </ngx-datatable-column>-->

        <ngx-datatable-column
          name="分账用户id"
          [width]="100"
          prop="splitBusiId">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="分账用户名"
          [width]="100"
          prop="splitBusiName">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="分账用户类型"
          [width]="100"
          prop="busiType">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="分账比例"
          [width]="50"
          prop="rate">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="创建时间"
          [width]="100"
          prop="createdDate">
        </ngx-datatable-column>

        <ngx-datatable-column name="操作" [width]="200" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="toEdit(value,row.rate)" class="btn btn-warning">设置比例</button>
            <button (click)="toDelete(value)" class="btn btn-danger">取消分账</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>

  <div class="widgets">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
        <ba-card>
          <div class="row">
            <div class="offset-5">
          <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
            </div>
          </div>
        </ba-card>
      </div>
    </div>


</div>


