<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card   *ngIf="msgPush">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>系统模版</label>
                {{msgPush.templateCode}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputUsername">推送标题</label>
                {{msgPush.name}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label >推送类型</label>
                {{msgPush.pushType}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idpushObject">推送范围</label>
                {{msgPush.pushObject}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="idDescription">推送内容</label>
                {{msgPush.description}}
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>推送时间</label>
                {{msgPush.pushTime}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>推送渠道</label>
                <div class="input-group col-sm-4" *ngIf="msgPush.pushChannel1">
                   App推送消息
                </div>
                <div class="input-group col-sm-4" *ngIf="msgPush.pushChannel2">
                  短信
                </div>
                <div class="input-group col-sm-4" *ngIf="msgPush.pushChannel3">
                  App内部消息
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="offset-sm-5">
              <button type="button" (click)="toBack()"  class="btn btn-warning" >返回</button>
            </div>
          </div>

      </ba-card>
    </div>
  </div>
</div>
