<div class="row">
  <div class="col-lg-12 col-sm-12 col-12" *ngIf="sysMaint">
    <ba-card >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group">
              用户名:<b class="offset-1">{{sysMaint.userRealName}}</b>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group">
              问题类别:<b class="offset-1">{{sysMaint.maintTypeStr}}</b>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group">
              问题分类:<b class="offset-1">{{sysMaint.description}}</b>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group ">
              创建时间:<b class="offset-1">{{sysMaint.createdDate}}</b>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group ">
            <div class="input-group">
              处理状态:<b class="offset-1">{{sysMaint.statusStr}}</b>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-5">
          <button type="button" (click)="toDeal()" class="btn btn-warning">处理完成</button>
          <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
        </div>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" class="form-horizontal">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label>回复客户</label>
              <div class="input-group">
                <textarea [formControl]="description" class="form-control" id="idDescription">
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <button type="button" (click)="onSubmit(editForm.value)" class="btn btn-warning">回复</button>
            </div>
          </div>
        </div>
      </form>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12 col-12">
    <ngx-datatable
      class="material"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="rows"
      [externalPaging]="true"
      [count]="pageNav.totalElements"
      [offset]="pageNav.page"
      [limit]="pageNav.itemsPerPage"
      (page)='setPage($event)'
      [scrollbarH]="true">
      <ngx-datatable-column
        name="id" [width]="30" prop="id">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="日期"
        [width]="150"
        prop="createdDate">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="用户ID"
        [width]="60"
        prop="userId">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="用户名"
        [width]="100"
        prop="userRealName">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="描述"
        [width]="400"
        prop="description">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="回复ID"
        [width]="100"
        prop="repeatId">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="回复人"
        [width]="100"
        prop="repeatRealName">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>


