   <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card  >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>开始时间</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpStart" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-addon" (click)="d1.toggle()" >
                <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>至</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dpEnd" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-addon" (click)="d2.toggle()" >
                <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" class="form-horizontal">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="idmaintType" class="control-label">问题分类</label>
            <div class="input-group ">
              <select [formControl]="maintType" class="form-control" id="idmaintType">
                <option value="">请选择</option>
                <option value="1">系统问题</option>
                <option value="2">投诉建议</option>
                <option value="3">客服</option>
              </select>
            </div>
          </div>
        </div>
      </div>
        </form>
      <div class="row">
        <div class="offset-5">
          <button type="button" (click)="onSubmit(editForm.value)" class="btn btn-warning">查询</button>
        </div>
      </div>
      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        (page)='setPage($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          name="id" [width]="30" prop="id">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="问题类别"
          [width]="100"
          prop="maintTypeStr">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="日期"
          [width]="200"
          prop="createdDate">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="问题标题"
          [width]="300"
          prop="name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="描述"
          [width]="400"
          prop="description">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="用户ID"
          [width]="100"
          prop="userId">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="用户名"
          [width]="100"
          prop="userRealName">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="状态"
          [width]="100"
          prop="statusStr">
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [width]="300" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toView(value)" class="btn btn-warning">查看并处理</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>


