<div class="modal-content" style="background: #2dacd1;">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

<div class="row">
    <form [formGroup]="searchEntityForm" (ngSubmit)="onSearchEntity(searchEntityForm.value)"
          class="form-horizontal">
      <div class="row">
        <div class="col-sm-6">
          <label for="idEntityName" class="control-label">关联业务</label>
          <select [formControl]="entityName" class="form-control" id="idEntityName" >
            <option value="blog">资讯</option>
            <option value="recruit">招聘</option>
          </select>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="idSearchName" class="control-label">名称</label>
            <input type="text" [formControl]="searchName" class="form-control" id="idSearchName"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-sm-6 col-sm-6">
          <button type="button" (click)="onSearchEntity(searchEntityForm.value)" class="btn btn-warning">查询
          </button>
        </div>
      </div>
    </form>
</div>

<div class="col-md-12">
<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="pageNav.totalElements"
  [offset]="pageNav.page"
  [limit]="pageNav.itemsPerPage"
  [selected]="selected"
  [selectionType]="'checkbox'"
  (page)='setPage($event)'
  (select)='onSelect($event)'
  [scrollbarH]="true">
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true">
  </ngx-datatable-column>
  <ngx-datatable-column
    name="id"
    prop="id">
  </ngx-datatable-column>
  <ngx-datatable-column
    name="名称" prop="name">
  </ngx-datatable-column>
  <ngx-datatable-column
    name="图片" [width]="100" prop="imageUrl" >
    <ng-template let-value="value" ngx-datatable-cell-template>
      <img [src]="value" width="100">
    </ng-template>
    <ng-template></ng-template>
  </ngx-datatable-column>

</ngx-datatable>
</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="closeModal()">设置</button>
  </div>
</div>
