<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card  >
        <form [formGroup]="discountcouponForm" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputBeginDate">开始时间</label>
                <input type="text" [formControl]="beginDate" class="form-control" id="inputBeginDate">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEndDate">结束时间</label>
                <input type="text" [formControl]="endDate" class="form-control" id="inputEndDate">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDiscountsMoney">优惠金额</label>
                <input type="text" [formControl]="discountsMoney" class="form-control" id="inputDiscountsMoney">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDiscountCount">优惠券总数</label>
                <input type="text" [formControl]="discountCount" class="form-control" id="inputDiscountCount">
              </div>
            </div>
            <!--<div class="col-sm-6">
              <div class="form-group">
                <label for="inputUsername">优惠券识别码</label>
                <input type="text" [formControl]="identifiedCode" class="form-control" id="inputIdentifiedCode">
              </div>
            </div>-->
          </div>

          <div class="row">
            <div class="offset-sm-5">
              <button type="button" (click)="add(discountcouponForm.value)"  class="btn btn-warning" >保存</button>
              <button type="button" (click)="toBack()"  class="btn btn-warning" >返回</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
  <div>
  </div>
