<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idStatus">订单号</label>
                <div class="input-group">
                  <input type="text" [formControl]="corderNo" class="form-control" id="idcorderNo">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idStatus">状态</label>
                <div class="input-group">
                  <select [formControl]="status" class="form-control" id="idStatus">
                    <option value="">请选择</option>
                    <option value="1">未支付</option>
                    <option value="2">支付失败</option>
                    <option value="3">支付成功</option>
                    <option value="4">交易成功</option>
                    <option value="5">交易失败</option>
                    <option value="6">退款成功</option>
                  </select>
                </div>
              </div>
            </div>
            <!--<div class="col-sm-6">
              <div class="form-group">
                <label for="idCategory" class=" control-label">分类</label>
                <div class="input-group">
                  <select [formControl]="category" class="form-control" id="idCategory">
                    <option value="">请选择</option>
                    <option *ngFor="let item of categoryList" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>-->
          </div>
        </form>


        <div class="row">
          <div class="offset-5">
            <!--<button type="button" (click)="toAdd()" class="btn btn-warning">增加</button>-->
            <button type="button" (click)="onSubmit(searchForm.value)" class="btn btn-warning">查询</button>
          </div>
        </div>

      </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        (page)='setPage($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          name="id" [width]="30" prop="id">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="订单号"
          [width]="200"
          prop="corderNo">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="用户"
          [width]="100"
          prop="username">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="用户id"
          [width]="100"
          prop="userId">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="设备编号"
          [width]="100"
          prop="deviceId">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="运营商编号"
          [width]="100"
          prop="shopId">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="运营商名称"
          [width]="300"
          prop="shopName">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="状态"
          [width]="50"
          prop="status">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="时间"
          [width]="200"
          prop="createdDate">
        </ngx-datatable-column>

        <ngx-datatable-column name="操作" [width]="200" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toView(value)" class="btn btn-warning">详情</button>
            <!--<button (click)="toDelete(value)" class="btn btn-warning">删除</button>-->
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>


</div>


