<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card >
        <form [formGroup]="editForm" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" >
                <label>资源名称</label>
                <div class="input-group">
                  <input type="text" [formControl]="name" class="form-control" id="name" placeholder="名称">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>版本号</label>
                <div class="input-group">
                  <input type="text" [formControl]="versionNo" class="form-control" id="idversionNo" placeholder="版本号">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>资源代码</label>
                <div class="input-group">
                  <input type="text" [formControl]="versionType" class="form-control" id="idversionType" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>服务器URL地址</label>
                <div class="input-group">
                  <input type="text" [formControl]="appUrl" class="form-control" id="idAppUrl" placeholder="">
                  <!--<button class="btn btn-warning" (click)="photoMainShow()">上传</button>-->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group ">
                <label >状态</label>
                <div class="input-group">
                  <select [formControl]="status" id="idStatus" class="form-control" >
                    <option value="0">未发布</option>
                    <option value="1">已发布</option>
                    <option value="-1">已关闭</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <p>{{msg}}</p>
          </div>
          <div class="row">
            <div class="offset-5">
              <button type="button" [disabled]="!editForm.valid" (click)="onSubmit(editForm.value)" class="btn btn-warning">保存</button>
              <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
</div>
