<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12" *ngIf="salaryInvoice">
      <ba-card>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>单据类型</label>
              {{salaryInvoice.invoiceTypeStr}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>客户</label>
              {{salaryInvoice.custCorp.name}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>所在月份:</label>
              {{salaryInvoice.month}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="idSalaryHour">总额</label>
              {{salaryInvoice.amount}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="idComment">备注</label>
              {{salaryInvoice.description}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>状态</label>
              {{salaryInvoice.statusStr}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="offset-6 col-6">
            <button type="button" [disabled]="bCalcSalary" *ngIf="salaryInvoice.checkUser.approved < 1 &&  salaryInvoice.calcStatus != 1"
                    (click)="toCalcSalary()" class="btn btn-warning">计算工资
            </button>
            <button type="button" *ngIf="salaryInvoice.status < 1 " [disabled]="bCalcWorkTime" (click)="toCalcWorkTime()" class="btn btn-warning">统计工时</button>

            <button type="button" *ngIf="salaryInvoice.status == 1 "  (click)="toPay()" class="btn btn-warning">发工资</button>

            <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ngb-tabset>
        <ngb-tab title="计算工资列表">
          <ng-template ngbTabContent>
            <div class="col-lg-12 col-sm-12 col-12">
              <ngx-datatable
                class="material"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [rows]="rows"
                [externalPaging]="true"
                [count]="pageNav.totalElements"
                [offset]="pageNav.page"
                [limit]="pageNav.itemsPerPage"
                (page)='setPage($event)'
                [scrollbarH]="true">
                <ngx-datatable-column
                  name="id" [width]="30" prop="id">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="月份"
                  [width]="150"
                  prop="month">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="员工编号"
                  [width]="200"
                  prop="corpEmployee.code">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="用户名"
                  [width]="100"
                  prop="corpEmployee.user.realName">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="手机号码"
                  [width]="100"
                  prop="corpEmployee.user.mobile">
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="工资金额"
                  [width]="100"
                  prop="amount">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="记账时间"
                  [width]="200"
                  prop="createdDate">
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="状态"
                  [width]="100"
                  prop="statusStr">
                </ngx-datatable-column>
                <ngx-datatable-column name="操作" [width]="100" [flexGrow]="1" [flexGrow]="1" prop="id">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <button (click)="toViewItem(value)" class="btn btn-warning">查看明细</button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="员工工时汇总">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-12">
                <la-employee-workmonth [employeeCode]="''" [month]="salaryInvoice.month" [dispatchedCorpId]="salaryInvoice.dispatchedCorpId" ></la-employee-workmonth>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
