<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idemployName">员工姓名</label>
                <div class="input-group">
                  <input type="text" [formControl]="employName" class="form-control" id="idemployName">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idmobile">手机号码</label>
                <div class="input-group">
                  <input type="text" [formControl]="mobile" class="form-control" id="idmobile">
                </div>
              </div>
            </div>
          </div>
        </form>


        <div class="row">
          <div class="offset-5">
            <button type="button" (click)="toAdd()" class="btn btn-warning">增加</button>
            <button type="button" (click)="onSubmit(searchForm.value)" class="btn btn-primary">查询</button>
          </div>
        </div>

      </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        (page)='setPage($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          name="id" [width]="30" prop="id">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="员工姓名"
          [width]="100"
          prop="employName">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="手机号码"
          [width]="100"
          prop="mobile">
        </ngx-datatable-column>

        <ngx-datatable-column
          name="所属网点"
          [width]="100"
          prop="branchName">
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [width]="200" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toEdit(value)" class="btn btn-warning">编辑</button>
            <button (click)="toView(value)" class="btn btn-success">查看</button>
            <button (click)="toDelete(value)" class="btn btn-danger">删除</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>


</div>


