<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ba-card >
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-sm-2 col-3">上级科目</label>
                <div class="input-group col-12">
                  <select [formControl]="parentId" class="form-control" id="idParentId">
                    <option value="">请选择</option>
                    <option *ngFor="let item of accountItemList" [value]="item.id">{{item.name}}-{{item.code}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" >
                <label class="col-sm-2 col-3">编号</label>
                <div class="input-group col-12">
                  <input type="text" [formControl]="code" class="form-control" id="idCode" placeholder="">
                </div>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" >
                <label class="col-sm-2  col-3">名称</label>
                <div class="input-group col-12">
                  <input type="text" [formControl]="name" class="form-control" id="idName" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" >
                <label class="col-sm-2 col-3">计算方式</label>
                <div class="input-group col-12">
                  <select  [formControl]="calcType" class="form-control" >
                    <option value="">请选择</option>
                    <option *ngFor="let item of calcTypeList" [value]="item.code">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group" >
                <label class="col-sm-2  col-3">描述</label>
                <div class="input-group col-12">
                  <input type="text" [formControl]="description" class="form-control" id="idDescription"
                         placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <p>{{msg}}</p>
          </div>
          <div class="row">
            <div class="offset-sm-5">
              <button type="button" [disabled]="!searchForm.valid" (click)="onSubmit(searchForm.value)" class="btn btn-warning">保存</button>
              <button type="button" (click)="toBack()" class="btn btn-warning">返回</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
</div>
