<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
    <ba-card >

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>入职开始时间</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dpStart" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
                <div class="input-group-addon" (click)="d1.toggle()" >
                  <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label >至</label>
              <div class="input-group ">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dpEnd" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-addon" (click)="d2.toggle()" >
                  <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </div>
              </div>
            </div>
          </div>
        </div>

      <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label  for="idCorpId">用人单位</label>
              <div class="input-group  exhib-time">
                <select [formControl]="corpId" id="idCorpId"  class="form-control" >
                  <option value="">请选择</option>
                  <option *ngFor="let item of listCorpCustomer" [value]="item.id">{{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label  for="idStatus">用户名</label>
              <div class="input-group">
                <input type="text" [formControl]="realName" class="form-control" id="idRealName">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="idMobile" class=" control-label">手机号码</label>
              <div class="input-group">
                <input type="text" [formControl]="mobile" class="form-control" id="idMobile">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="idStatus">员工编号</label>
              <div class="input-group ">
                <input type="text" [formControl]="employeeCode" class="form-control" id="IdEmployeeCode">
              </div>
            </div>
          </div>
          </div>
      </form>

      <div class="row">
        <div class="offset-5">
          <button type="button" (click)="onSubmit(searchForm.value)" class="btn btn-warning">查询</button>
        </div>
      </div>
    </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        [selected]="selected"
        [selectionType]="'checkbox'"
        (page)='setPage($event)'
        (select)='onSelect($event)'
        [scrollbarH]="true">
        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="id" [width]="30" prop="id">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="单位名称"
          [width]="300"
          prop="corp.name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="员工编号"
          [width]="200"
          prop="code">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="姓名"
          [width]="200"
          prop="user.realName">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="手机号码"
          [width]="200"
          prop="user.mobile">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="部门"
          [width]="200"
          prop="department">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="岗位"
          [width]="200"
          prop="position">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="薪资岗位"
          [width]="200"
          prop="accountPosition.name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="入职时间"
          [width]="200"
          prop="startDate">
        </ngx-datatable-column>
          <ngx-datatable-column
            name="结束时间"
            [width]="200"
            prop="endDate">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="离职时间"
          [width]="200"
          prop="endDate">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="状态"
          [width]="200"
          prop="statusStr">
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [width]="300" [flexGrow]="1" [flexGrow]="1" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toView(value)" class="btn btn-warning">查看</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>


</div>


